@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    @apply bg-bg text-sm text-light-gray md:text-base;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
